@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center " style=" background-image:url('../../wwwroot/img/back.jpg'); ">

    <h1 style="margin-top:10%;" class="display-4">Welcome To Space Reservation</h1>

</div>



