@model Reservation_Std.Models.Reservation

@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/DLayout.cshtml";
}

<div style="margin-top:5%;">

    <h4 class="alert-light text-center">Get your Reservation now</h4>
    <hr />

</div>

<div class="row justify-content-md-center">
    
    <div class="col-md-4">

        <h4 style="color:#00ff90; text-align:center; font-size:20px;">@TempData["msg"]</h4>
        <h4 style="color:#ff0000; text-align:center; font-size:20px;">@TempData["m"]</h4>
        <form asp-action="UserDashboard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Type de reservation</label>
                <select asp-for="ReservationType.Nom" class="form-control">
                    <option value="">Please select</option>
                    <option value="Week-end">Week-end</option>
                    <option value="aprés la fin de cours">aprés la fin de cours</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            @*   <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-primary justify-content-md-center" />
            </div>
        </form>
    </div>
</div>



