@model Reservation_Std.Models.Reservation

@{
    ViewData["Title"] = "UserDashboard";
    Layout = "~/Views/Shared/DLayout.cshtml";
}

<h1>UserDashboard</h1>

<h4>Reservation</h4>
<hr />


<h4 class="alert-success " >@TempData["msg"]</h4>  
<div class="row">
    <div class="col-md-4">
        <form asp-action="UserDashboard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label>Type de reservation</label>
                <select asp-for="ReservationType.Nom" class="form-control">
                    <option value="">Please select</option>
                    <option value="Week-end">Week-end</option>
                    <option value="aprés le fin de cours">aprés le fin de cours</option>
                </select>
            </div>

            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
         @*   <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsValid" /> @Html.DisplayNameFor(model => model.IsValid)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Reserve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



