@using Microsoft.AspNetCore.Identity
@inject SignInManager<Utilisateur> SignInManager
@inject UserManager<Utilisateur> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width-device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <title>Dashboard</title>

    @*  @RenderSection("Scripts", required: false)*@
    <style>
        body {
            font-family: "Lato", sans-serif;

        }


  .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            border: 1px solid gray;
            background: #2b5876;
            background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
            background: linear-gradient(to Bottom, #4e4376, #2b5876);
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 18px;
            color: #f1f1f1;
            display: block;
        }
        .sidenav img {
            width: 80px;
            margin-left: 18px;
            margin-Bottom: 20px;
        }

            .sidenav a:hover {
                color: #818181;
            }



.main {
  margin-left: 200px;
  font-size: 15px;
  padding: 0px 10px;
}

@*  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}*@
    </style>
</head>
<body>

    <div class="sidenav">
        <img src="~/img/LogoR.png" />
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
        {

            <a asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i>Home</a>
            <a asp-controller="Home" asp-action="ListR"><i class="fa fa-fw fa-list"></i> requests List</a>
        }


        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {

            <a asp-controller="Home" asp-action="Index"><i class="fa fa-fw fa-home"></i>Home</a>
            <a asp-controller="Home" asp-action="ListR"><i class="fa fa-fw fa-list"></i> requests List</a>

            <a asp-controller="Adminstration" asp-action="LIstRoles"><i class="fa fa-fw fa-id-card"></i>List Roles</a>
            <a asp-controller="Adminstration" asp-action="ListUsers"><i class="fa fa-fw fa-user"></i>List Users</a>
        }
    </div>

    <div class="main">
        @RenderBody()
    </div>
    =
</body>
</html> 